@media screen and (max-width:700px){
    header .container{
        display: flex;
        flex-direction: column;
    }

    .botao{
        width: 70%;
    }
}

@media screen and (min-width:700px){
    .descricao{
        width: 60%;
    }
}